<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shouft</title>
</head>
<body>
    <script type="module">
        import CONF from "{{url_for('static', filename='js/conf.js')}}";
        import { Get } from "{{url_for('static', filename='js/app.js')}}";


        window.onload = () => {
            Get(CONF);
            console.log("HERE")
        }
    </script>
</body>
</html>